<p class="copyright"> <span id="footer-text">&copy; 2014 Marc Riesenberg & Emily Pace. Proudly published with <a href="http://ghost.org">Ghost</a></p>


<div class="socials">
	<!-- Add Social Icons -->
	
</div>