<p class="copyright"> <span id="footer-text">&copy; 2014 {{@blog.title}}. Proudly published with <a href="http://ghost.org">Ghost</a> &amp; built by <a href="http://www.meanthemes.com" target="_blank">MeanThemes</a></span></p>


<div class="socials">
	<!-- Add Social Icons -->
	
</div>      