<!-- Slabtext goes here -->
<div class="slab animated fadeIn">
	<div class="wrapper">
		<h1><span class="slabtext">Boy Meets Girl.</span> <span class="slabtext">Has Boy <span class="amp">&</span> Girl.</span></h1>
		<div class="blog-tagline">{{@blog.description}}</div>
	</div>
</div>