<!-- Slabtext goes here -->
<div class="slab animated fadeIn">
	<div class="wrapper">
		<h1><span class="slabtext">I am Wharton</span> <span class="slabtext">I'm Lean <span class="amp">&</span> I'm Keen</span></h1>
	</div>
</div>